<!DOCTYPE html>
<html>
    <head>
        <title> About </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
       <div class="main-content">
            {{>header}}
            <p> This site wat create by Prasad Nurani. It uses data from map.box and forecase</p>
            <img class="portrait"  src="/img/jog-falls.jpg">
        </div> 
         {{>footer}}
    </body>


</html>
